<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>VUE todolist</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="root">

            <div id="user-input">
                <input v-model="newItem" @keypress.enter="addNewItem">
                <button @click="addNewItem">Add to the list</button>
            </div>

            <ul>
                <li v-for="(todo, index) in todos" :class="{current : currentIndex == index}">
                    <span @click="changeIndex(index); showInput = false">
                        <i class="fas fa-check"></i>
                        {{ todo }}
                    </span>

                    <div class="actions" v-if="currentIndex == index">
                        <button @click="deleteItem(index)">Delete item</button>
                        <button @click="showInput = !showInput">Modify item</button>
                        <input v-model="todos[index]" v-if="showInput" @keypress.enter="changeIndex(index); showInput = false">
                    </div>
                </li>
            </ul>

        </div>


        <!-- ******************* javascript ******************* -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
