* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    height: 40px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: #000000c7;
}

input {
    height: 30px;
}

#user-input {
    margin: 20px 0 0 40px;
}

ul {
    margin: 50px 0 0 20px;
    font-size: 20px;
    color: blue;
    list-style-type: none;
}

.current {
    background-color: rgba(144, 144, 144, 0.53);
}

span.item {
    display: inline-block;
    min-width: 200px;
    padding: 10px 30px;
    margin: 5px 0;
    cursor: pointer;
}

span.item:hover {
    background-color: #4283ef2b;
}

.actions {
    display: inline-block;
}

.confirm-deletion span {
    font-size: 16px;
}
